<div class="mx-4">
  <app-auth-header></app-auth-header>
  <div class="d-flex flex-row justify-content-between pt-5">
    <div class="d-lg-block mx-md-auto mx-sm-auto">
      <h4 class="text-primary fw-bold">Sign Up to Mollo</h4>
      <small style="line-height: 24px;">
        Please enter your Mollo password and the email address associated with your account to
        sign in.
      </small>
      <form [formGroup]="signUpForm">
        <div class="my-3">
          <label class="form-label">Fullname</label>
          <input type="text" class="form-control" formControlName="fullname">
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input type="text" class="form-control" formControlName="phone">
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3 position-relative">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <span class="float-end">
            <img loading="lazy" src="assets/icons/eye-show.svg" alt="show-password" class="password-eye">
          </span>
        </div>
        <div class="mt-5 d-grid gap-2">
          <button type="button" class="btm btn-primary btn-lg">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="d-none d-lg-block position-relative">
      <img src="assets/images/rectangle.svg" width="220" height="220"
           class="rectangle position-absolute translate-middle" alt="Rectangle">
      <img src="assets/images/circles.svg" width="350" height="450" class="circles position-absolute translate-middle"
           alt="Circles">
      <img loading="lazy" src="assets/images/auth-image.svg" alt="Auth" width="500" height="500" class="ms-5 float-end">
      <img src="assets/images/circle-small.svg" class="donut position-absolute translate-middle" alt="Donut">
    </div>
  </div>
</div>
