<div class="d-flex flex-row mt-3 mb-5">
  <div class="app-store bg-success">
    <div class="d-flex flex-row px-2">
      <img src="assets/icons/apple-store.svg" alt="Apple Store">
      <small class="ps-3 text-white py-1">
        Get it on <br>
        <span class="fw-bold">Play Store</span>
      </small>
    </div>
  </div>
  <div class="app-store bg-success ms-2">
    <div class="d-flex flex-row px-3">
      <img src="assets/icons/play-store.svg" alt="Google Store">
      <small class="ps-3 text-white py-1">
        Get it on <br>
        <span class="fw-bold">Apple Store</span>
      </small>
    </div>
  </div>
</div>
