<div class="d-flex flex-row mt-4">
  <div class="app-store bg-success">
    <div class="d-flex flex-row">
      <img src="assets/icons/apple-store.svg" alt="Apple Store">
      <span class="ms-3 text-white">
        Get it on
        <p class="fw-bold">Play Store</p>
      </span>
    </div>
  </div>
  <div class="app-store bg-success ms-3">
    <div class="d-flex flex-row">
      <img src="assets/icons/play-store.svg" alt="Google Store">
      <small class="ms-3 text-white">
        Get it on
        <p class="fw-bold">Apple Store</p>
      </small>
    </div>
  </div>
</div>
