<footer>
  <div class="row">
    <div class="col">
      <img src="assets/images/mollo-logo-black.svg" alt="Mollo Logo (Black)" width="120" height="34">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h6 class="text-primary fw-bolder">COMPANY</h6>
          <div>
            <p><strong><a href="javascript:void(0)" class="text-decoration-none fw-bold text-dark">Our
              Story</a></strong></p>
            <p><strong><a href="javascript:void(0)" class="text-decoration-none fw-bold text-dark">Blog</a></strong></p>
            <p><strong><a href="javascript:void(0)" class="text-decoration-none fw-bold text-dark">Careers</a></strong>
            </p>
            <p><strong><a href="javascript:void(0)" class="text-decoration-none fw-bold text-dark">Media
              Center</a></strong></p>
          </div>
        </div>
        <div class="col">
          <h6 class="text-primary fw-bolder">CONTACT</h6>
          <div>
            <p><a href="javascript:void(0)" class="text-decoration-none fw-bold text-dark">Enquiry</a></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="d-flex flex-row justify-content-around">
        <a href=""><img src="assets/icons/twitter.svg" alt="Twitter"></a>
        <a href=""><img src="assets/icons/facebook.svg" alt="Facebook"></a>
        <a href=""><img src="assets/icons/linkdedin.svg" alt="LinkedIn"></a>
        <a href=""><img src="assets/icons/youtube.svg" alt="Youtube"></a>
        <a href=""><img src="assets/icons/instagram.svg" alt="Instagram"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pt-3">
      <p>Copyright © 2021 Mollo Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
