<div>
  <app-header></app-header>

  <section class="container py-5">
    <div class="row my-5">
      <div class="col">
<!--        d-sm-block d-md-block-->
        <div>
          <div class="chip mb-3">
            <small class="text-primary fw-bold">DIGITAL BANK</small>
          </div>
          <h3 class="text-primary fw-bold mb-3 text-wrap">All lifestyles can gain from digital banking.</h3>
          <small>With a free Mollo, you can unlock the power of money. All of your bills, money transfers, buy airtime
            can be done in one spot.</small>
        </div>
        <div class="row mt-4">
          <div class="col-md-7 d-grid">
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
        <app-appstore-buttons></app-appstore-buttons>
        <div>

        </div>
      </div>
      <div class="col">
        <img loading="lazy" src="assets/images/banner.svg" alt="Phone" width="420" height="420" class="float-start">
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row gx-5">
      <div class="col">
        <img loading="lazy" src="assets/images/phone.svg" alt="Phone" width="400" height="500" class="float-start">
        <img loading="lazy" src="assets/images/ellipse.svg" alt="Ellips" class="float-start"
             style="position: relative; top: -50px">
      </div>
      <div class="col">
        <div>
          <div class="chip mb-3">
            <small class="text-primary fw-bold">BILL PAYMENT</small>
          </div>
          <h3 class="text-primary fw-bold mb-3">Take advantage of seamless payments at a low or no cost.</h3>
          <small>
            With only a few clicks on your smartphone, you can pay all of your bills and top up your airtime at the
            lowest possible price.
          </small>
        </div>
        <div class="mt-3">
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Purchase airtime and data for all networks you can get 10%
              discount.
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Pay for your cable television, power and water bills and save
              up to 100% on fees
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">You can get up to 10% discount when you pay your bills
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="map" class="py-5">
    <div class="container">
      <div id="map-container">
        <div class="row py-5">
          <div class="col">
            <div>
              <div class="chip mb-3">
                <small class="text-primary fw-bold">TRANSFER FUNDS</small>
              </div>
              <h3 class="text-primary fw-bold mb-3">Send money to friends and
                family in a flash.</h3>
              <small>
                Transfers to the Mollo account are free, and you can send money to any bank account in Nigeria.
              </small>
            </div>
            <div class="mt-3">
              <div class="d-flex">
                <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
                <p class="ms-3 text-start">There are no conversion fees and the exchange rates are straight forward
                </p>
              </div>
              <div class="d-flex">
                <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
                <p class="ms-3 text-start">Transfers to local bank accounts and Mollo mobile money
                  accounts are completed quickly
                </p>
              </div>
              <div class="d-flex">
                <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
                <p class="ms-3 text-start">Transfer of funds are easy discreet and fast
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <!--            <img src="assets/images/circle.svg" alt="Phone" width="400" height="500" class="float-end" style="z-index: -10000;">-->
            <img loading="lazy" src="assets/images/phone-2.svg" id="phone-2" alt="Phone" width="400" height="500"
                 class="float-end">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row mt-5">
      <div class="col">
        <img loading="lazy" src="assets/images/phone-3.svg" alt="Phone" width="400" height="500" class="float-start">
      </div>
      <div class="col">
        <div>
          <div class="chip mb-3">
            <small class="text-primary fw-bold">VIRTUAL CARDS</small>
          </div>
          <h3 class="text-primary fw-bold mb-3">Get an authentic card that pays you back..</h3>
          <small>
            The Mollo debit card gives you more financial control, security, and access to deals.
          </small>
        </div>
        <div class="mt-3">
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">You can make as many cards as you want
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">For your transactions, we offer a transparent and dependable exchange rate
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">With our cashback loyalty scheme you will be able to pay
              smarter and earn more
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Compatible with Apple Pay, Google Pay, Paypal, Netflix, Amazon, Spotify and other
              famous websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class=" container py-5">
    <div class="pre-footer bg-primary">
      <div class="row p-5">
        <div class="col">
          <div class="text-white">
            <h3 class="fw-bold mb-3">Register For Free</h3>
            <small>
              Mollo is available on Google Play and the App Store.To enjoy ultimate financial security</small>
            <app-appstore-buttons></app-appstore-buttons>
          </div>
        </div>
        <div class="col">
          <img loading="lazy" src="assets/images/phone-4.svg" alt="Phone" class="float-end" width="200" height="400">
        </div>
      </div>

    </div>
  </section>

  <section class="container py-4 overflow-hidden clearfix">
    <app-footer></app-footer>
  </section>
</div>
