#map {
  background-color: #FBFFF0;
  &-container {
    background: url("../../../assets/images/map-bg.svg") no-repeat center;
    background-size: cover;
  }
}

#phone-2{
  background: url("../../../assets/images/circle.svg") no-repeat center;
  width: inherit;
  float: end;
  margin: 0 auto;
}
