<div>
  <section class="mb-4">
    <app-header></app-header>
  </section>

  <section class="p-md-4">
    <div class="d-flex flex-row">
      <div class="d-md-block mx-md-auto mx-sm-2 w-75 ms-sm-4">
        <div>
          <div class="chip mb-md-3 mt-sm-5">
            <small class="text-primary fw-bold mb-0">DIGITAL BANK</small>
          </div>
          <h3 class="text-primary fw-bold mb-md-3 mb-sm-1 text-wrap">All lifestyles can gain from <br> digital banking.
          </h3>
          <small>With a free Mollo, you can unlock the power of money.<br> All of your bills, money transfers, buy
            airtime
            can be done in one spot.</small>
        </div>
        <div class="row mt-4">
          <div class="col-md-7 mb-sm-0 d-grid">
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
        <app-appstore-buttons></app-appstore-buttons>
        <div>

        </div>
      </div>
      <div class=" d-md-block">
        <img loading="lazy" src="assets/images/banner.svg" alt="Phone" width="300" height="300"
             class="home-img float-start">
      </div>
    </div>
  </section>

  <section class="p-md-4 mb-sm-5">
    <div class="d-flex flex-row">
      <div class=" d-md-block w-50">
        <img loading="lazy" src="assets/images/phone.svg" alt="Phone" width="300" height="300"
             class="home-img float-start">
<!--        <img loading="lazy" src="assets/images/ellipse.svg" alt="Ellips" class=" ellipse float-start">-->
      </div>
      <div class="d-md-block mx-md-auto mx-sm-auto">
        <div>
          <div class="chip mb-md-3 mb-sm-3">
            <small class="text-primary fw-bold">BILL PAYMENT</small>
          </div>
          <h3 class="text-primary fw-bold mb-md-3 mb-sm-1">Take advantage of seamless payments at a low or no cost.</h3>
          <small>
            With only a few clicks on your smartphone, you can pay all of your bills and top up your airtime at the
            lowest possible price.
          </small>
        </div>
        <div class="mt-3">
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Purchase airtime and data for all networks you can get 10%
              discount.
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Pay for your cable television, power and water bills and save
              up to 100% on fees
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">You can get up to 10% discount when you pay your bills
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="map" class="p-md-4 mb-4">
    <div id="map-container">
      <div class="d-flex flex-row">
        <div class="d-md-block mx-md-auto mx-sm-auto w-75 pe-2">
          <div>
            <div class="chip mb-md-3 my-sm-1">
              <small class="text-primary fw-bold">TRANSFER FUNDS</small>
            </div>
            <h3 class="text-primary fw-bold mb-3">Send money to friends and
              family in a flash.</h3>
            <small>
              Transfers to the Mollo account are free, and you can send money to any bank account in Nigeria.
            </small>
          </div>
          <div class="mt-3">
            <div class="d-flex">
              <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
              <p class="ms-3 text-start">There are no conversion fees and the exchange rates are straight forward
              </p>
            </div>
            <div class="d-flex">
              <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
              <p class="ms-3 text-start">Transfers to local bank accounts and Mollo mobile money
                accounts are completed quickly
              </p>
            </div>
            <div class="d-flex">
              <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
              <p class="ms-3 text-start">Transfer of funds are easy discreet and fast
              </p>
            </div>
          </div>
        </div>
        <div class="d-md-block ps-2">
          <div id="phone-2" class="me-sm-2">
            <img loading="lazy" src="assets/images/phone-2.svg" alt="Phone" width="350" height="350"
                 class="home-img float-end">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-md-4 my-md-5">
    <div class="d-flex flex-row">
      <div class="d-md-block me-md-5 ms-sm-4 w-50">
        <img loading="lazy" src="assets/images/phone-3.svg" alt="Phone" width="300" height="300"
             class="home-img float-start ms-sm-0 ps-sm-0">
      </div>
      <div class="d-md-block ms-md-4 ms-sm-5">
        <div>
          <div class="chip mb-md-3">
            <small class="text-primary fw-bold">VIRTUAL CARDS</small>
          </div>
          <h3 class="text-primary fw-bold mb-md-3">Get an authentic card that pays you back..</h3>
          <small>
            The Mollo debit card gives you more financial control, security, and access to deals.
          </small>
        </div>
        <div class="mt-3">
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">You can make as many cards as you want
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">For your transactions, we offer a transparent and dependable exchange rate
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">With our cashback loyalty scheme you will be able to pay
              smarter and earn more
            </p>
          </div>
          <div class="d-flex">
            <img loading="lazy" src="assets/icons/success.svg" alt="success" width="20" height="30">
            <p class="ms-3 text-start">Compatible with Apple Pay, Google Pay, Paypal, Netflix, Amazon, Spotify and other
              famous websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="register-banner">
    <div class="bg-primary mx-auto">
      <div class="d-flex flex-row align-items-center my-sm-5">
        <div class="block-1 d-md-block ms-md-4 w-75">
          <div class="text-white">
            <h3 class="fw-bold mb-md-3 my-sm-0 py-sm-0-">Register For Free</h3>
            <small class="mb-sm-0 py-sm-0">
              Mollo is available on Google Play and the App Store.To enjoy ultimate financial security</small>
            <app-appstore-buttons></app-appstore-buttons>
          </div>
        </div>
        <div class="position-relative block-2 d-md-block me-md-5">
          <img loading="lazy" src="assets/images/circle-full.svg" alt="Circle" width="150" height="150"
               class="full-circle-1 position-absolute translate-middle">
          <img loading="lazy" src="assets/images/phone-4.svg" alt="Phone" width="200" height="350"
               class="phone-4 float-start" style="z-index: 100000;">
          <img loading="lazy" src="assets/images/circle-full.svg" alt="Circle" width="150" height="150"
               class="full-circle-2 position-absolute translate-middle">

        </div>
      </div>

    </div>
  </section>

  <section class="p-md-4 mt-md-5">
    <app-footer></app-footer>
  </section>
</div>
