/* You can add global styles to this file, and also import other style files */

$body-bg: #fff;

$primary:       #3C1D59;
$secondary:     #E3C6FF;
$info:          #F5EBFF;
$success:       #A6C643;
$warning:       #FF8937;



@import "~node_modules/bootstrap/scss/bootstrap";
@import "assets/scss/style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
